<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apps.ims"
    android:versionCode="46"
    android:versionName="46">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    //自動對焦
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.apps.ims.IMSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ims_appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.apps.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- <receiver -->
        <!-- android:name="com.google.android.gms.gcm.GcmReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->


        <!-- <category android:name="com.tom.stock" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name="com.apps.ims.play_video">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- <activity android:name="com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:label="apps" -->
        <!-- tools:replace="android:label"> -->


        <!-- </activity> -->
        <service
            android:name="com.apps.ims.IMS_VpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service android:name="com.apps.ims.MyInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.apps.ims.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.apps.ims.SendNotification">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.apps.ims.IssueVoiceRecord"
            android:theme="@android:style/Theme.Dialog">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.apps.ims.Test">

            <!-- <intent-filter android:label="@string/app_name"> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.apps.ims.IssueClose">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.apps.ims.IssueChangePriority"
            android:windowSoftInputMode="adjustResize">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.apps.ims.IssueChangeOwner"
            android:windowSoftInputMode="adjustResize">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.apps.ims.Welcome"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apps.ims.CustomScannerActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.apps.ims.CaptureActivityPortrait"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.apps.ims.MainDefault"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name="com.apps.ims.ShareToNewIssue"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            android:label="ShareToIMS"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name="com.apps.ims.SpeedNewIssue"-->

        <!--android:configChanges="orientation|screenSize|keyboardHidden"-->
        <!--android:windowSoftInputMode="stateHidden|adjustResize"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.SEND_MULTIPLE" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data android:mimeType="application/*" />-->
        <!--<data android:mimeType="audio/*" />-->
        <!--<data android:mimeType="image/*" />-->
        <!--<data android:mimeType="message/*" />-->
        <!--<data android:mimeType="multipart/*" />-->
        <!--<data android:mimeType="text/*" />-->
        <!--<data android:mimeType="video/*" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.SEND" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data android:mimeType="text/plain" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.SEND_MULTIPLE" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data android:mimeType="image/*" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.SEND_MULTIPLE" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data android:mimeType="video/*" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name="com.apps.ims.VPN" />
        <activity android:name="com.apps.ims.photo_gallery" />
        <activity
            android:name="com.apps.ims.MainTab"
            android:label="@string/title_activity_main_tab"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:replace="screenOrientation">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.apps.ims.testview" />
        <activity android:name="com.apps.ims.LoginAccount">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.apps.ims.IssueGallery" />
        <activity
            android:name="com.apps.ims.ProjectInfo"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog"
            android:windowActionBar="false" />
        <activity
            android:name="com.apps.ims.ProjectSpec"
            android:theme="@style/AppThemeTitle" />
        <activity
            android:name="com.apps.ims.Project_Member"
            android:theme="@style/AppThemeTitle" />
        <activity
            android:name="com.apps.ims.IssueInfo"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.apps.ims.MainActivity" />
        <activity
            android:name="com.apps.ims.LoginPassword"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.apps.ims.IssueList" />
        <activity
            android:name="com.apps.ims.NewIssue"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.apps.ims.DefaultDemo">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.apps.ims.VideoView" />
        <activity android:name="com.apps.ims.imageZoom" />
        <activity android:name="com.apps.ims.PhotoShare" />
        <activity android:name="com.apps.ims.TakePictureAndCamera" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->


        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <activity
            android:name="com.apps.ims.VideoRecord"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".IssueVoicePlay" /> -->
        <activity android:name="com.apps.ims.Main3Activity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- <activity android:name=".IssueVideoPlay" /> -->


        <!-- <activity android:name=".CustomSacnnerActivity"></activity> -->
        <!-- <activity android:name=".Alert_Search_Dialog" /> -->
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize" />

    </application>

</manifest>